body {
  background-color: #222;
  color: white;
}
@font-face {
  font-family: museo;
  src: url("../font/MUSEOSANSFORDELL-REGULAR.TTF");
}
@font-face {
  font-family: museoBold;
  src: url("../font/MUSEOSANSFORDELL-BOLD.TTF");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "museo", sans-serif;
}
.test {
  width: 100%;
  margin: 5px;
  background-color: green;
  color: black;
  display: inline-block;
}

/* ==========================================================================
   header.
   ========================================================================== */

nav {
  vertical-align: baseline;
  color: #0085C3;
  display: flex;
  margin: auto;
}
nav a {
  color: #0085C3;
}
.navbar-brand {
  padding: 0;
}
#nav_blank {
  height: 69px;
}
.logo {
  height: 50px;
  margin: auto;
}

/* ==========================================================================
   menu_gallery
   ========================================================================== */

#menu_gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#menu_gallery a {
  max-height: 218px;
  overflow-y: hidden;
  margin: 0 5px;
  display: flex;
  flex: 1;
}
#menu_gallery img {
  max-width: 100%;
  /*height:100px;*/
  margin: auto;
}

/* ==========================================================================
   gallery
   ========================================================================== */

#gallery {
  padding: 10px 0;
}
.dynamic-grid{
     position: relative;
     display: none;
 }
 .dynamic-grid.angular-grid{
     display: block;
 }
 .grid {
     position: absolute;
     list-style: none;
     background: #ffffff;
     box-sizing: border-box;
     -moz-box-sizing : border-box;
     -webkit-transition: all 0.6s ease-out;
     transition: all 0.6s ease-out;
     overflow: hidden;
     color:black;
 }
 /*.grid-img {
     width: 100%;
     vertical-align: middle;
     -webkit-transition: opacity 0.6s ease-out;
     transition: opacity 0.6s ease-out;
     background-color: #fff;
     opacity: 0;
     visibility: hidden;
 }*/
 .grid img{
   width: 100%;
   /*z-index: 4;*/
 }
 .grid-img.img-loaded{
     visibility: visible;
     opacity: 1;
 }
/* ==========================================================================
   modal
   ========================================================================== */

.modal.ng-enter {
  transition: opacity .5s ease-out;
  opacity: 0;
}
.modal.ng-enter.ng-enter-active {
  opacity: 1;
}
.modal.ng-leave {
  transition: opacity .5s ease-out;
  opacity: 1;
}
.modal.ng-leave.ng-leave-active {
  opacity: 0;
}

/* ==========================================================================
   upload
   ========================================================================== */
.form_upload{
  height: 250px;
}
button {
  color: black;
}
.thumbContainer {
  height: 350px;
}
.thumb {
  margin: 20px 5px 5px 5px;
}
.thumbName {
  color: black;
}
/*form .progress {
  line-height: 15px;
}
.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove;
}
.progress div {
  font-size: smaller;
  background: #0085C3;
  width: 0;
}*/
.preview {
  background-color: white;
  border-radius: 10px;
}
.drop-box {
  display: flex;
  margin-bottom: 15px;
  height: 180px;
  color: #0085C3;
  background-color: white;
  border-radius: 10px;
  border: 1px dashed #0085C3;
}
.drop-box span{
  margin: auto;
}
.choixUpload{
  color:black;
}

/* ==========================================================================
   manage
   ========================================================================== */
.radio{
  display: flex;
  flex-direction: column;
}
#s_cat1, #s_cat2, #s_cat3, #gal2, #gal3, #pht3{
  visibility: hidden;
}
#pht3{
  /*background-color: white;*/
  /*padding: 10px;*/
  margin: 20px;
}
/*.photo{
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: hidden;
  color: black;
}*/
/*.photo img{
  width: 100%;
}*/
/*.photo input{
  position: relative;
  top: 0;
  left:0;
}*/
/* ==========================================================================
   categorie
   ========================================================================== */
#galeries{
  position: absolute;
  top:50px;
  left:40%;
  height: calc(100% - 50px);
  width: 60%;
  background-color: #222;
  border-left: 1px solid white;
  overflow-y: scroll;
  visibility: hidden;
}
.anim{
  visibility: visible!important;
  animation: slideInRight .5s both ease-in;
}
.thumbcont{
  display: flex;

  height: 150px;
  width: 150px;
  overflow: hidden;
position: relative;
margin-bottom: 15px;
}
.thumbgal{
  height: 200px;
}
.thumbname{
  position: absolute;
  top: 0;
left: 10px;
 z-index: 50;
  color: white;
  font-size: 15px;
}
/* ==========================================================================
   keyframes
   ========================================================================== */
   @keyframes slideInRight {
     from {
       transform: translateX(60%);
     }
     to {
       transform: translateX(0);
     }
   }
