<div class="container">
  <a href="#/">retour index</a><br>
<hr>
<ul class="dynamic-grid" angular-grid="pics" ad-grid-width="200" ad-gutter-size="10" ag-angular-grid-id="gallery" ad-refresh-on-img-load="false" >
<!-- <li  class="grid" data-ng-clock> -->
  <li  class="grid" data-ng-clock data-ng-repeat="img in images">

  <!-- <div ng-repeat="img in images"  data-xgallerify="{ 'margin':5, 'mode':'flickr'}"> -->
      <img ng-src="{{img.info_photo.path}}" alt=""/>
      <p>
        {{img.id}}
      </p>
      <p>
        {{img.info_photo.photographe}}
      </p>
</li>
    </ul>
  </div>

</div>
