<div ng-include src="menu_gallery.url"></div>
<!-- <script type="text/ng-template" id="menu_gallery.html"></script> -->

<div class="container">
  <div data-xgallerify="{ 'margin':5, 'mode':'flickr', 'debounceLoad':'true','debounceTime':'200', 'lastRow':'fullwidth'}" id="gallery">
    <a href=""><img ng-src="{{firstPath(argentic)}}" alt=""/></a>
    <a href=""><img ng-src="{{firstPath(building)}}" alt=""/></a>
    <a href=""><img ng-src="{{firstPath(cemetery)}}" alt=""/></a>
    <a href=""><img ng-src="{{firstPath(monument)}}" alt=""/></a>
    <a href=""><img ng-src="{{firstPath(people)}}" alt=""/></a>
    <a href=""><img ng-src="{{firstPath(sea)}}" alt=""/></a>
    <a href=""><img ng-src="{{firstPath(monument)}}" alt=""/></a>
    <a href=""><img ng-src="{{firstPath(building)}}" alt=""/></a>
    <a href=""><img ng-src="{{firstPath(people)}}" alt=""/></a>
  </div>
</div>
