<div ng-include src="menu_gallery.url"></div>
<!-- <script type="text/ng-template" id="menu_gallery.html"></script> -->

<div class="container">
  <div xgallerify="{ 'margin':5, 'mode':'flickr', 'lastRow':'fullwidth'}" id="gallery">
    <a href=""><img ng-src="photo/argentic/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/building/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/cemetery/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/monument/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/people/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/sea/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/argentic/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/building/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/cemetery/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/monument/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/people/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/sea/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/argentic/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/building/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/cemetery/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/monument/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/people/01.jpg" alt=""/>
    </a>
    <a href=""><img ng-src="photo/sea/01.jpg" alt=""/>
    </a>

  </div>
</div>
