<nav class="navbar navbar-inverse" >
<div class="container">
  <!-- <div class="test">{{test)}}</div> -->

  <div id="menu_gallery" >
    <a href="#/test"><img class="thumbMenu" ng-src="{{firstPath(argentic)}}" alt="" /></a>
    <a href="#/test2"><img class="thumbMenu" ng-src="{{firstPath(building)}}" alt="" /></a>
    <a href="#/test3"><img class="thumbMenu" ng-src="{{firstPath(cemetery)}}" alt="" /></a>
    <a href="#/test4"><img class="thumbMenu" ng-src="{{firstPath(monument)}}" alt="" /></a>
    <a href="#/test5"><img class="thumbMenu" ng-src="{{firstPath(people)}}" alt="" /></a>
  </div>
</div>
</nav>
