<a href="#/">retour index</a>

<h4>Upload</h4>
<p class="test">
  {{marque}}
  {{test2}}
</p>
<button ngf-select ng-model="files" ngf-multiple="true" ngf-resize="{width: 800, quality: .8, type: 'image/jpeg',  restoreExif: true}" ngf-resize-if="$width > 800" accept="image/*">Select</button><br>

Drop files:
<div ngf-drop ng-model="files" ngf-multiple="true" ngf-resize="{width: 800, quality: .8, type: 'image/jpeg',  restoreExif: true}" ngf-resize-if="$width > 800" accept="image/*" class="drop-box">Drop</div>

<!-- <button ngf-select="uploadFiles($files)" multiple ngf-resize="{width: 800, quality: .8, type: 'image/jpeg',  restoreExif: true}" ngf-resize-if="$width > 800" accept="image/*">Select Files</button> -->
<hr>
<input type="text" name="galerie" value="Nom de la galerie" ng-model="galerie" class="choixUpload"><br>
<input type="text" name="user" value="Photographe" ng-model="user" class="choixUpload"><br>
<hr>
<button type="submit " ng-click="submit()">Envoyer</button>
<br>
<span class="progress" ng-show="progress >= 0">
  {{errorMsg}}
  <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
</span>
<div class="row preview">
  <div class="col-md-3 thumbContainer" ng-repeat="f in files">
    <div class="test" ng-include="test.url"></div>
    <img class="thumb" ngf-src="f" ngf-background="f" ngf-resize="{width: 200, quality: 0.9}"/><br>
    <span class="thumbName">{{f.name}}</span><br>
    <!-- <input type="text" name="legende" value="Entrez une légende" ng-model="légende" class="choixUpload"> -->
  </div>
</div>
<!-- multiple ngf-include-dir="true" -->
<p class="test">
  {{result}}
</p>
