<a href="#/">retour index</a>

<h4>Upload</h4>
<div class="row">
  <pre class="test col-sm-4">
    EXIF : {{exif}}
  </pre>
  <pre class="test col-sm-4">
    RESULT PHP : {{result}}
  </pre>
  <pre class="test col-sm-4">
    FILE : {{files}}
  </pre>
</div>
<hr>
<div class="row form_upload">


<form class="form-horizontal col-sm-6" role="form">
  <div ngf-drop ng-model="files" ngf-resize="{width: 800, quality: .8, type: 'image/jpeg',  restoreExif: true}" ngf-resize-if="$width > 800" ngf-multiple="true" accept="image/*" class="drop-box">
    <span>DROP HERE !</span>
  </div>
  <button ngf-select="getExif(files)" ngf-resize="{width: 800, quality: .8, type: 'image/jpeg',  restoreExif: true}" ngf-resize-if="$width > 800" ng-model="files" ngf-multiple="true" accept="image/*" class="btn btn-default">Select</button><br>
</form>

<form class="form-horizontal col-sm-6" role="form" data-toggle="validator">
  <div class="form-group">
    <label class="control-label col-sm-4" for="categorie">Categorie:</label>
    <div class="col-sm-8">
      <input required list="list_categorie" class="form-control" id="categorie" name="categorie" value="Nom de la categorie"  ng-model="categorie" placeholder="Nom de la categorie">
      <datalist id="list_categorie">
        <option value="ERG"></option>
        <option value="CFE"></option>
        <option value="Customer Visit"></option>
        <option value="Charity"></option>
        <option value="Internal"></option>
      </datalist>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="s_categorie">Sous-categorie:</label>
    <div class="col-sm-8">
      <input required type="text" class="form-control" id="s_categorie" name="s_categorie" value="Nom de la sous-categorie"  ng-model="s_categorie" placeholder="Nom de la sous-categorie">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="galerie">Galerie:</label>
    <div class="col-sm-8">
      <input required type="text" class="form-control" id="galerie" placeholder="Nom de la galerie" name="galerie" value="Nom de la galerie" ng-model="galerie">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="galerie">Photographe:</label>
    <div class="col-sm-8">
      <input required type="text" class="form-control" id="user" placeholder="Photographe" name="Photographe" value="user" ng-model="user">
    </div>
  </div>
  <div class="help-block with-errors"></div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-10">
      <button data-disable="true" type="submit" ng-click="submit()" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</div>

<div class="row preview">
  <div class="col-md-3 thumbContainer" ng-repeat="f in files">
    <div class="test" ng-include="test.url"></div>
    <img class="thumb" ngf-src="f" ngf-background="f" ngf-resize="{width: 200, quality: 0.9}"/><br>
    <span class="thumbName">{{f.name}}</span><br>
    <!-- <input type="text" name="legende" value="Entrez une légende" ng-model="légende" class="choixUpload"> -->
  </div>
</div>
<!-- multiple ngf-include-dir="true" -->
